/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-bottom: 40px;
    color: #5a5a5a;
    background: url('images/mosaico3.png') no-repeat center center fixed;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
@media only screen and (max-width : 768px){

    #crossfade > img { 
        width: 40%;
    }
}

#crossfade >img {
    position: absolute;
    opacity: 0;
    width: 90%;

    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 30s linear infinite 0s;
    -moz-animation: imageAnimation 30s linear infinite 0s;
    -o-animation: imageAnimation 30s linear infinite 0s;
    -ms-animation: imageAnimation 30s linear infinite 0s;
    animation: imageAnimation 30s linear infinite 0s; 
}
#crossfade > img:nth-child(0)  {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}
#crossfade > img:nth-child(1)  {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s; 
}

#crossfade > img:nth-child(2) {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s; 
}
#crossfade > img:nth-child(3) {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s; 
}
#crossfade > img:nth-child(4)  {
    -webkit-animation-delay: 24s;
    -moz-animation-delay: 24s;
    -o-animation-delay: 24s;
    -ms-animation-delay: 24s;
    animation-delay: 24s; 
}

@-webkit-keyframes imageAnimation { 
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-moz-keyframes imageAnimation { 
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-o-keyframes imageAnimation { 
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-ms-keyframes imageAnimation { 
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}
.imgfade{
    -webkit-transition: opacity 0.8s linear;
    opacity: 0.60;
}
.imgfade:hover{
    -webkit-transition: opacity 0.8s linear;
    opacity: 1;
}


/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}

#clickable
{
    box-sizing: border-box; 
    padding-left: 15%;
}

#menuLeft 
{
    border-width: 1px;
    border-style: none;
    width: 235px;
    float: left;
    background-color: #eeecec;
    margin-top: 110px;
    max-height: 500px;
    border-radius: 4px;
    background-size: 100% 100%;
    position: fixed;
}

@media only screen and (max-width : 768px){
    #menuLeft{
        width: 100%;
        position: static;
        border-radius: 0;
    }
}

@font-face {
	font-family: EPIDEMIA;
	src: url('EPIDEMIA.otf');
}

#parallax-jumbo
{
    background: url(images/1926180_268788826626315_1665245546_o.png) no-repeat fixed;
    background-size: 100% 100%;
    width: auto;
    height: 600px;
   /* min-height: 500px;
    max-width: 1920px;*/
    position: relative;
    margin: 0 auto;
}
@media only screen and (max-width:768px){
    #parallax-jumbo{
        background-size: 100% 100%;
    }
}

#parallax-featurette
{
    background: url(images/IMG_6928.png) no-repeat fixed;
    background-size: 1900px 1000px;
    width: auto;
    height: auto;
    min-height: 500px;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
}
#parallax-featurette2
{
    background: url(images/IMG_9418.png) no-repeat fixed;
    background-size: 1900px 1000px;
    width: auto;
    height: auto;
    min-height: 500px;
    max-width: 1920px;
    position: relative;
    margin: 0 auto;
}

#headerLine
{
    top: 70px;
    left: 5%;
    z-index: -1;
    position: relative;
}


#imagesShown
{
    top: 100px;
    position: relative;   

}

#productspic > img{
    width: 300px;
    height: 200px;
}

#quesosgriegos > img {
    width: 300px;
    height: 200;
}


@media screen and (min-width: 768px) and (max-width 1199px) {
    #imagesShown
    {
        left: 10%;
        background-color: white;
    }
}

.refinement-header 
{
background: black;
border-radius: 4px;
display: block;
font: 13px "MiloWeb-Bold", Helvetica, Arial, Sans-serif;
letter-spacing: 0.06em;
margin: 10px 0 0 0;
padding: 13px 20px 10px;
text-transform: uppercase;
position: relative;
left: 15px;
height: 40px;
width: 230px;
z-index: 1;
}

.refinement-header > a
{
    color: white;
}

@media only screen and (max-width:768px){
    .refinement-header
    {
        width:100%;
        left: 0;
    }
}

.product-category
{
    border-bottom: 1px solid #b9b8b8;
}

.socialLogos
{
    width: 30px;
    height: 30px;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 600px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 600px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 600px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left:  15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left:  0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/*MAIN PANEL*/
#panelarrang{
    margin: 7%;
    clear: both;
    
}
.columdim2 {
    border: 1px solid #D0D0D0;
    overflow-y: scroll;
    height: 404px;
    background-color: #F8F8F8;
        -moz-box-shadow: 0px 0px 50px 13px #52666f;
    -webkit-box-shadow: 0px 0px 50px 13px #52666f;
    box-shadow: 0px 0px 50px 20px #52666f;

}
    
.columdim4{
    border: 1px #888888 solid;
    -moz-box-shadow: 0px 0px 50px 13px #52666f;
    -webkit-box-shadow: 0px 0px 50px 13px #52666f;
    box-shadow: 0px 0px 50px 13px #52666f;
    height: 500px;
    width: 619px;
    padding-left: 0px;
}

.imagesHome {        
    height:500px; 
    width:619px;
}

.socialicons{
    position: absolute;
    right: -130px;
    top: -5px;
}

.socialicons > li {
    list-style-type: none;
}

.descrtxt
{
    text-align: center;
    margin-top: 10%;
    
}
